<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Master</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Our Logo</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">All Projects</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
