<%- include ('partials/header.ejs'); -%>

<form action="/projects/new" method="POST">
    <div class="">
        <label for="">Crop</label>
        <input type="text" name="crop" id="">
    </div>
    <div class="">
        <label for="">Duration</label>
        <input type="text" name="duration" id="">
    </div>
    <div class="">
        <label for="">Location</label>
        <input type="text" name="location" id="">
    </div>
    <div class="">
        <label for="">Amount</label>
        <input type="text" name="amount" id="">
    </div>
    <div class="">
        <input type="submit" value="Create Project" >
    </div>

</form>